@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    margin:0px;
    padding: 0px;
}

body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
.intro .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50vw;
    max-height: 50vh;
}


.intro {
    background: black;
    color: white;
    float: left;
    width: 30vw;
    height: 100vh;
}

.intro .heading {
    display: block;
    padding: 20px 0px 20px 20px;
}

.intro .testimony {
    margin: 20px 0px 0px 10px;
}

.intro .testimony .author {
    font-style: italic;
}
.details {
    width:70vw;
    height: 100vh;
    float: right;
    background: white;
}

.details .head1 {
    margin-top: 20px;
    margin-left: 10%;
    font-size: 3vw;
}

.details .head2 {
    margin-left: 25%;
    font-size: 2.5vw;
}
.details .heading {
    background:rgba(0, 255, 245, 0.51);
}

.details .head3 {
    margin-top: 10px;
    margin-left: 15px;
}
.intro .icon {
    margin-top: 40px;
    margin-left: 40px;
    padding: 20px 0px 0px 2px ;
    color: white;
}

.intro .icon:hover {
   color:blue;
}
.details ul {
    list-style-position: outside;
    margin: 5px 10px 0px 40px;
    padding: 5px 5px 5px 10px;
}
.details li {
    line-height: 2vw;
}